body{
  text-align: center;
  background-image: url("https://wallpaperaccess.com/full/1131585.jpg");
}

h1{
  font-family: 'Pattaya', sans-serif;
  font-size: 80px;
  color: white;
  text-align: center;
  text-decoration: underline;
  
}

h2{
  font-family: 'Pattaya', sans-serif;
  font-size: 50px;
  color: white;
  text-align: center;
  
}

h3{
  font-family: 'Pattaya', sans-serif;
  font-size: 30px;
  color: gold;
  text-align: center;
}

img{
  text-align: center;
}
